.welcomeScreen {
  width: 1000px;
  height: 550px;
  position: absolute;
  background: #393e46;
  top: 12%;
  left: 15%;
  text-align: center;
  opacity: 1;
  visibility: visible;
  overflow: scroll;
  z-index: 999;
  border: 5px solid #a460ed;
  border-radius: 20px;
  padding: 20px;

  .welcomeTitle {
    color: #a460ed;
    font-size: 32px;
    padding: 10px;
  }

  .welcomeText {
    font-size: 18px;
    padding: 20px;
    letter-spacing: 1px;
    line-height: 30px;

    hr {
      margin: 20px 0;
    }
  }

  .input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    input {
      border-radius: 20px;
      border: 2px solid #a460ed;
      height: 25px;
      background-color: #393e46;
      color: white;
      text-align: center;
      padding: 10px;
      -webkit-user-select: auto;
      -ms-user-select: auto;
      user-select: auto;
      font-size: 14px;
    }

    .welcomeButton {
      font-size: 20px;
      border: none;
      padding: 10px;
      border-radius: 20px;
      background-color: #a460ed;
      font-weight: bold;
      color: white;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
      &:active {
        opacity: 0.4;
      }
    }
  }
}
