:root {
  --initial: #a460ed;
  --light-1: #fefefe;
  --light-2: #ffffff;
  --light-3: #a460ed;
}

.rightMenu {
  flex: 2;
  height: 95%;
  margin: auto 20px;

  @keyframes rotate {
    100% {
      transform: rotate(1turn);
    }
  }
  .container {
    position: relative;
    z-index: 0;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;

    .top {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;

      h3 {
        color: #ba8c63;
      }
      .inventory {
        width: 350px;
        height: 200px;
        border: 2px solid #ba8c63;
        border-radius: 20px;
        text-align: center;
        padding: 10px;

        .items {
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 10px;
          padding: 20px;
          flex-wrap: wrap;
          font-size: 18px;
        }
      }
    }

    .bottom {
      width: 350px;
      height: 160px;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      justify-content: center;
      align-items: center;

      button {
        width: 250px;
        height: 40px;
        background-color: #a460ed;
        color: white;
        border: 1px solid transparent;
        border-radius: 20px;
        font-size: 1.2em;
        font-weight: bold;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        &:hover {
          background-color: #eeeeee;
          color: #a460ed;
          border: 1px solid #a460ed;
        }

        &:active {
          opacity: 0.4;
        }
      }
    }
    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      left: 6px;
      top: 6px;
      width: calc(100% - 12px);
      height: calc(100% - 12px);
      background: #393e46;
      border-radius: 10px;
      animation: opacityChange 3s infinite alternate;
    }

    &:hover {
      &::before {
        content: "";
        position: absolute;
        z-index: -2;
        left: -50%;
        top: -50%;
        width: 200%;
        height: 200%;
        background-color: var(--initial);
        background-repeat: no-repeat;
        background-size: 50% 50%, 50% 50%;
        background-position: 0 0, 100% 0, 100% 100%, 0 100%;
        background-image: linear-gradient(var(--initial), var(--light-1)),
          linear-gradient(var(--initial), var(--light-1)),
          linear-gradient(var(--light-1), var(--light-2)),
          linear-gradient(var(--light-3), var(--light-1));
        animation: rotate 4s linear infinite;
      }

      @keyframes opacityChange {
        100% {
          opacity: 1;
        }
      }
    }
  }
}
