.footer {
  height: 20px;
  background-color: #393e46;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;

  .left {
    &:hover {
      color: #a460ed;
      cursor: pointer;
    }
  }

  .center {
    .icons {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;

      a {
        text-decoration: none !important;

        &:link {
          text-decoration: none !important;
        }

        &:hover {
          color: #a460ed;
          cursor: pointer;
        }
      }
    }
  }

  .right {
    &:hover {
      color: #a460ed;
      cursor: pointer;
    }
  }
}
